<h3 class="header">Stones Scraper</h3>
<div id="buttons">
  <button class="btn" id="scrape-new">Scrape New Articles</button>
  <button class="btn" id="clear">Clear Articles</button>
</div>
<table id="results">
  <thead>
    <tr>
      <th id="article-name">Headline</th>
      <th id="article-summary">Summary</th>
      <th id="article-photo">Photo</th>
      <th id="article-link">Link</th>
    </tr>
  </thead>
  <tbody>
    <!-- Results from DB here -->
  </tbody>
  
</table>